{
  "extends": "nss/node",
  "rules": {
    "no-console": 0,
    "import/no-unresolved": 0,
    "no-buffer-constructor": 0,
    "max-len": 0,
    "no-underscore-dangle": [
      "error",
      {
        "allow": ["_id"]
      }
    ],
    "no-param-reassign": 0
  }
}
